{% extends 'base.html' %}

{% block content %}
    <main class="contenedor seccion">
        <a href="{% url 'admin' %}" class="goBack">GoBack</a>
        <h2>Products</h2>
        <div class="contenidoProduct">
            <img src="{{product.image.url}}"
                alt="image">
            <div class="info">
                <h1>{{product.title}}</h1>
                
                <p>${{product.price}}</p>
                {% if  product.exist %}
                    <p class="existencia">Existencia</p>
                {% else %}
                    <p class="existencia">No Existencia</p>
                {% endif %}
                <p>Descripcion</p>
                <p>{{product.description}}</p>
            </div>
            
        </div>
    </main>
    {% endblock content %}