{% extends 'base.html' %}

{% block content %}
    <main class="contenedor seccion">
        <h2>Inicio</h2>
        <div class="contenidoAdmin">
            <a href="{% url 'createProduct' %}" class="buttonAdmin">Create</a>
            <div class="options">
                <ul>
                    


                    {% for product in products %}
                    <li class="ropa prendas mujer Playeras">
                        <a href="{% url 'adminProduct' product.id%}">
                            <img src="{{product.image.url}}"
                                alt="playera">
                            <h3>{{product.title}}</h3>
                        </a>
                        <p>${{product.price}}</p>
                        {% if  product.exist %}
                            <p class="existencia">Existencia</p>
                        {% else %}
                            <p class="existencia">No Existencia</p>
                        {% endif %}
                        
                        <div class="opciones">
                            <button>agregar</button>
                            <a href="">ver mas</a>
                        </div>
                        <div class="adminOptions">
                            <a href="#" class="buttonEliminar">Eliminar</a>
                            <a href="#" class="buttonActualizar">Actualizar</a>
                        </div>
                        
                        
                    </li>
                    {% endfor %}
                    
                </ul>
            </div>
        </div>
    </main>
    {% endblock content %}