{% extends 'base.html' %}

{% block content %}
    <main class="contenedor seccion">
        <h2>Inicio</h2>
        <div class="contenido">
            <div class="menu">
                <ul>
                    <a href="">
                        <li>Categorias</li>
                    </a>
                    <a href="#" class="prendas hombre mujer niño" id="btnRopa">
                        <li>Ropa</li>
                    </a>
                    <a href="#" class="prendas hombre mujer niño" id="btnAccesorios">
                        <li>Accesorios</li>
                    </a>
                    <a href="#" class="prendas hombre mujer niño" id="btnDeporte">
                        <li>Deporte</li>
                    </a>
                    <a href="#" class="prendas hombre mujer niño" id="btnPlayeras">
                        <li>Playeras</li>
                    </a>
                    <a href="#" class="prendas hombre mujer niño" id="btnZapatos">
                        <li>Zapatos</li>
                    </a>
                    <a href="#" class="prendas hombre mujer niño" id="btnRopaInterior">
                        <li>Ropa Interior</li>
                    </a>
                    <a href="#" class="prendas hombre mujer niño" id="btnRopaBaño">
                        <li>Ropa de Baño</li>
                    </a>
                    <a href="#" class="prendas hombre mujer niño" id="btnCamisa">
                        <li>Camisas</li>
                    </a>
                    <a href="#" class="prendas hombre mujer niño" id="btnPantalones">
                        <li>Pantalones</li>
                    </a>
                    <a href="#" class="prendas hombre mujer niño" id="btnChaquetas">
                        <li>Chaquetas</li>
                    </a>
                    <a href="#" class="prendas hombre mujer niño" id="btnZapatosVestir">
                        <li>Zapatos de Vestir</li>
                    </a>
                    <a href="#" class="prendas hombre mujer niño" id="btnTrajes">
                        <li>Trajes</li>
                    </a>
                    <a href="#" class="prendas hombre mujer niño" id="btnJeans">
                        <li>Jeans</li>
                    </a>
                    <a href="#" class="prendas hombre mujer niño" id="btnPolos">
                        <li>Polos</li>
                    </a>
                    <a href="#" class="prendas mujer niño" id="btnBolsos">
                        <li>Bolsos</li>
                    </a>
                    <a href="#" class="prendas mujer niño" id="btnVestidos">
                        <li>Vestidos</li>
                    </a>
                    <a href="#" class="prendas mujer niño" id="btnFaldas">
                        <li>Faldas</li>
                    </a>
                    <a href="#" class="prendas mujer niño" id="btnBlusas">
                        <li>Blusas</li>
                    </a>
                    <a href="#" class="prendas mujer niño" id="btnZapatosTacon">
                        <li>Zapatos de Tacón</li>
                    </a>
                    <a href="#" class="prendas hombre mujer niño" id="btnPijamas">
                        <li>Pijamas</li>
                    </a>
                </ul>
            </div>
            <div class="options">
                <div class="banner">
                    <img src="https://img.ltwebstatic.com/images3_ccc/2023/05/29/16853472005e15b38b738c2d0521fdcaecbd47d5b2.webp" alt="">
                </div>
                
                <h2>Productos Destacados</h2>
                <ul>
                    <li class="ropa prendas mujer Playeras">
                        <a href="{% url 'product' %}">
                            <img src="https://w7.pngwing.com/pngs/20/307/png-transparent-t-shirts-t-shirts-mens-white.png"
                                alt="playera">
                            <h3>playera</h3>
                        </a>
                        <p>$500</p>
                        <p class="existencia">Existencia</p>
                        <div class="opciones">
                            <button>agregar</button>
                            <a href="">ver mas</a>
                        </div>
                    </li>
                    <li class="ropa prendas mujer Playeras">
                        <a href="{% url 'product' %}">
                            <img src="https://w7.pngwing.com/pngs/20/307/png-transparent-t-shirts-t-shirts-mens-white.png"
                                alt="playera">
                            <h3>playera</h3>
                        </a>
                        <p>$500</p>
                        <p class="existencia">Existencia</p>
                        <div class="opciones">
                            <button>agregar</button>
                            <a href="">ver mas</a>
                        </div>
                    </li>
                    <li class="ropa prendas mujer Playeras">
                        <a href="{% url 'product' %}">
                            <img src="https://w7.pngwing.com/pngs/20/307/png-transparent-t-shirts-t-shirts-mens-white.png"
                                alt="playera">
                            <h3>playera</h3>
                        </a>
                        <p>$500</p>
                        <p class="existencia">Existencia</p>
                        <div class="opciones">
                            <button>agregar</button>
                            <a href="">ver mas</a>
                        </div>
                    </li>
                    <li class="ropa prendas mujer Playeras">
                        <a href="{% url 'product' %}">
                            <img src="https://w7.pngwing.com/pngs/20/307/png-transparent-t-shirts-t-shirts-mens-white.png"
                                alt="playera">
                            <h3>playera</h3>
                        </a>
                        <p>$500</p>
                        <p class="existencia">Existencia</p>
                        <div class="opciones">
                            <button>agregar</button>
                            <a href="">ver mas</a>
                        </div>
                    </li>
                    <li class="ropa prendas hombre Playeras">
                        <a href="{% url 'product' %}">
                            <img src="https://w7.pngwing.com/pngs/33/974/png-transparent-t-shirts-t-shirts-mens-white.png"
                                alt="playera">
                            <h3>playera</h3>
                        </a>
                        <p>$500</p>
                        <p class="existencia">Existencia</p>
                        <div class="opciones">
                            <button>agregar</button>
                            <a href="">ver mas</a>
                        </div>
                    </li>
                    <li class="ropa prendas hombre Playeras">
                        <a href="{% url 'product' %}">
                            <img src="https://w7.pngwing.com/pngs/33/974/png-transparent-t-shirts-t-shirts-mens-white.png"
                                alt="playera">
                            <h3>playera</h3>
                        </a>
                        <p>$500</p>
                        <p class="existencia">Existencia</p>
                        <div class="opciones">
                            <button>agregar</button>
                            <a href="">ver mas</a>
                        </div>
                    </li>
                    <li class="ropa prendas hombre Playeras">
                        <a href="{% url 'product' %}">
                            <img src="https://w7.pngwing.com/pngs/33/974/png-transparent-t-shirts-t-shirts-mens-white.png"
                                alt="playera">
                            <h3>playera</h3>
                        </a>
                        <p>$500</p>
                        <p class="existencia">Existencia</p>
                        <div class="opciones">
                            <button>agregar</button>
                            <a href="">ver mas</a>
                        </div>
                    </li>
                    <li class="ropa prendas hombre Playeras">
                        <a href="{% url 'product' %}">
                            <img src="https://w7.pngwing.com/pngs/33/974/png-transparent-t-shirts-t-shirts-mens-white.png"
                                alt="playera">
                            <h3>playera</h3>
                        </a>
                        <p>$500</p>
                        <p class="existencia">Existencia</p>
                        <div class="opciones">
                            <button>agregar</button>
                            <a href="">ver mas</a>
                        </div>
                    </li>
                    <li class="ropa prendas niño Playeras">
                        <a href="{% url 'product' %}">
                            <img src="https://static.vecteezy.com/system/resources/previews/021/103/387/original/pink-t-shirt-free-png.png"
                                alt="playera">
                            <h3>playera</h3>
                        </a>
                        <p>$500</p>
                        <p class="existencia">Existencia</p>
                        <div class="opciones">
                            <button>agregar</button>
                            <a href="">ver mas</a>
                        </div>
                    </li>
                    <li class="ropa prendas niño Playeras">
                        <a href="{% url 'product' %}">
                            <img src="https://static.vecteezy.com/system/resources/previews/021/103/387/original/pink-t-shirt-free-png.png"
                                alt="playera">
                            <h3>playera</h3>
                        </a>
                        <p>$500</p>
                        <p class="existencia">Existencia</p>
                        <div class="opciones">
                            <button>agregar</button>
                            <a href="">ver mas</a>
                        </div>
                    </li>
                    <li class="ropa prendas niño Playeras">
                        <a href="{% url 'product' %}">
                            <img src="https://static.vecteezy.com/system/resources/previews/021/103/387/original/pink-t-shirt-free-png.png"
                                alt="playera">
                            <h3>playera</h3>
                        </a>
                        <p>$500</p>
                        <p class="existencia">Existencia</p>
                        <div class="opciones">
                            <button>agregar</button>
                            <a href="">ver mas</a>
                        </div>
                    </li>
                    <li class="ropa prendas niño Playeras">
                        <a href="{% url 'product' %}">
                            <img src="https://static.vecteezy.com/system/resources/previews/021/103/387/original/pink-t-shirt-free-png.png"
                                alt="playera">
                            <h3>playera</h3>
                        </a>
                        <p>$500</p>
                        <p class="existencia">Existencia</p>
                        <div class="opciones">
                            <button>agregar</button>
                            <a href="">ver mas</a>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
    </main>
    {% endblock content %}