{% extends 'base.html' %}

{% block content %}
<h2>Products</h2>
    <main class="contenedor seccion">
        <div class="contenidoProduct">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.title }}">
            {% endif %}
            <div class="info">
                <h1>{{product.title}}</h1>
                
                <p>${{product.price}}</p>
                {% if  product.exist %}
                    <p class="existencia">Existencia</p>
                {% else %}
                    <p class="existencia">No Existencia</p>
                {% endif %}
                <p>Genero</p>
                {% if product.is_male  %}
                    <p class="existencia">Masculino</p>
                {% endif %}
                {% if product.is_female  %}
                    <p class="existencia">Femenino</p>
                {% endif %}
                {% if product.is_child  %}
                    <p class="existencia">Niño</p>
                {% endif %}
                <p>Descripcion</p>
                <p>{{product.description}}</p>
                <p>Categoria</p>
                <p>{{product.category}}</p>
            </div>
            
        </div>
        <a href="{% url 'index' %}" class="goBack">GoBack</a>
    </main>
    {% endblock content %}