{% extends 'base.html' %}

{% block content %}
    <main class="contenedor seccion">
        <a href="{% url 'index' %}" class="goBack">GoBack</a>
        <h2>Products</h2>
        <div class="contenidoProduct">
            <img src="https://w7.pngwing.com/pngs/20/307/png-transparent-t-shirts-t-shirts-mens-white.png"
                alt="image">
            <div class="info">
                <h1>tittle</h1>
                <p>$500</p>
                <p>Existencia</p>
                <p>Descripcion:</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum assumenda minima maxime dignissimos et. Eius eum voluptatibus aspernatur similique debitis! Est, esse veniam. Dolore pariatur neque soluta quidem facilis iure.</p>
            </div>
            
        </div>
    </main>
    {% endblock content %}