{% extends 'base.html' %}

{% block content %}
    <main class="contenedor seccion">
        <h2>singup</h2>
        <div class="contenidoForm">
            <form action="/signup/" method="POST" class="card card-body   ">
                {% csrf_token %}
                {{ error }}
                <h1 class="text-center">signup</h1>
                <div class="mb-3">
                    <label for="username">Username: </label>
                    <input type="text" name="username" id="username" placeholder="Wite your Username" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password1">Password: </label>
                    <input type="password" name="password1" id="password1" placeholder="Wite your password" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password2">Confirm your Password: </label>
                    <input type="password" name="password2" id="password2" placeholder="Wite your password" class="form-control">
                </div>
                <button class="btn btn-primary">singup</button>
            </form>
        </div>
    </main>
    {% endblock content %}