{% extends 'base.html' %}

{% block content %}
<main class="contenedor seccion">
    <h2>Update Product</h2>
    
    <div class="contenidoForm">
        <form action="" method="POST" class="card card-body" enctype="multipart/form-data">
            <a href="{% url 'admin' %}" class="goBack">GoBack</a>
            {% csrf_token %}
            {{error}}
            {{form.as_p}}
            {% if product.image %}
                <img src="{{ product.image.url }}" >
            {% endif %}
            <button class="btn btn-primary">save</button>
        </form>
    </div>
</main>
{% endblock content %}