h2{
    text-align: center;
    font-weight: $black;
    border-bottom: 1px solid #e3e3e3;
    text-transform: uppercase;
    font-size: 2rem;
    color: $blanco;
}
.contenido {
    display: grid;
    grid-template-rows: auto;
    margin: 2rem;
    justify-items: center;
    gap: 3rem;
    @include tablet{
        grid-template-columns: auto 3fr;
    }
}

.menu {
    width: 100%;
    height: auto;
    

    ul {
        background-color: $grisOscuro;
        display: flex;
        height: auto;
        flex-direction: column;
        justify-content: space-between;
        margin: 0rem;
        list-style-type: none;
        padding: 0;
        position: relative;
        
        a {
            background: $gris;
            margin: .5rem;
            color: $negro;
            text-align: center;
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 25rem;
            &:first-of-type{
                background: $negro;
                color: $blanco;
            }
        }

        li {
            padding: .5rem;
            font-weight: 9000;
            font-size: 2.2rem;
        }
    }
}

.options {
    width: 100%;
    height: auto;
    
    .banner{
        margin: 1rem;
        img{
            width: 100%;
        }
    }
    h2{
        text-align: start;
        font-weight: $black;
        border-bottom: 1px solid #e3e3e3;
        text-transform: uppercase;
        font-size: 2rem;
        color: $blanco;
    }
    
    ul {
        display: grid;
        background-color: $grisOscuro;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        margin: 3rem;
        list-style-type: none;
        padding: 1rem;
        gap: 4rem;
    }

    li {
        background-color: $gris;

        a {
            width: auto;
            color: $negro;

            img {
                width: 90%;
                align-items: center;
                border: 0.2rem #000 solid;
                padding: 0rem;
                margin: 1rem;
                display: flex;
                justify-content: center;
                margin: 1rem auto;
            }
        }

        h3 {
            color: $negro;
            margin: 0;
        }

        p {
            margin: 0.5rem 1rem;
            color: $negro;
        }

        .existencia {
            background-color: $azul;
            width: 50%;
            font-size: 15px;
            color: $blanco;
            font-weight: 900;
            text-align: center;
            margin: 0.5rem 1rem;
            padding: 0 .5rem;
            border-radius: .5rem;
        }

        .opciones {
            display: flex;
            justify-content: space-between;
            margin: 1rem;

            a {
                border: 1px solid #000;
                padding: 0 .5rem;
            }
            button{
                border: 1px solid #000;
            }
        }
    }

    gap: 1rem;
}