.footer{
    background-color: $grisOscuro;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0rem;
    .footerContenedor{
        padding-top: 2rem;
        .nav{
            justify-content: space-evenly;
        }
    }
    .copyright{
        color: $blanco;
    }
}